# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

Approach1/
Approach2/
Approach3/


# Environment / secrets
.env
*.env

# Excel working files (exclude actual data files)
*.xlsx
*.xls

# Logs
*.log

# OS
.DS_Store
Thumbs.db
